/* =========================
SECTION
========================= */

.mission-section{

  padding:120px 0;
  background:var(--white);

}


/* =========================
GRID LAYOUT
========================= */

.mission-grid{

  max-width:1200px;
  margin:auto;
  margin-bottom:80px;

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;

}


/* =========================
TEXT CONTENT
========================= */

.mission-content{

  padding:40px;

}

.mission-heading{

  font-size:56px;
  font-weight:800;
  color:var(--black);

  margin-bottom:30px;

}

.mission-content p{

  font-size:18px;
  line-height:1.8;
  color:var(--black);

  margin-bottom:20px;

}


/* =========================
IMAGE BLOCK
========================= */

.mission-image{

  border-radius:20px;
  min-height:350px;

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

}


/* MISSION IMAGE */

.mission-yellow{

  background-image:url("/asset/mission.png");

}


/* VISION IMAGE */

.mission-orange{

  background-image:url("/asset/vision.png");

}


/* =========================
RESPONSIVE
========================= */

@media (max-width:900px){

  .mission-grid{

    grid-template-columns:1fr;

  }

  .mission-heading{

    font-size:40px;

  }

}